html,
body {
    margin: 10;
    padding: 10;
    text-align: center;
    box-sizing: border-box;
}

.grid {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
}

.grid div {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(100, 101, 45, 0.2);
}

.snake {
    background: green;
}

.apple {
    background: red;
}